RAILS_ENV=development
RAILS_MAX_THREADS=5

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=change_me
DATABASE_PASSWORD=change_me
DATABASE_NAME=recebe_facil_development
DATABASE_TEST_NAME=recebe_facil_test

POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_DB=recebe_facil_development