RAILS_ENV=development
RAILS_MAX_THREADS=5

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=recebe_facil_development
DATABASE_TEST_NAME=recebe_facil_test

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=recebe_facil_development